<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Norsys Sophia | Récap hebdo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/assets/styles/home.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/plugins/emoji/ui/trumbowyg.emoji.css" />
    <style>
        #editor {
            height: auto !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100hh">
        <div class="container-fluid">
            <a class="navbar-brand d-flex" href="/">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="https://avatars.githubusercontent.com/u/2487851?s=280&v=4" alt="Logo norsys" width="50" height="50" class="d-inline-block align-top mx-2" />
                    <div class="d-flex flex-column">
                        <span class="d-inline-block">Fiche de présence</span>
                        <strong id="today"></strong>
                    </div>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/" class="nav-link active" aria-current="page">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="/calendar" class="nav-link">Calendrier / Réservations</a>
                    </li>
                </ul>

                <div class="d-flex">
                    <a href="#modal-profile" class="btn btn-secondary" id="profile">
                        <button class="btn btn-danger" id="logout" style="position: relative; z-index: 1;"><i class="fas fa-power-off"></i></button>
                        <span></span> | <strong></strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>Edition</h1>
            </div>
            <div class="col-6">
                <button type="button" id="send_recap"></button>
            </div>
            <div class="col-12">
                <div id="editor">
                    <!--<p>Contenu à remplacer</p>-->
                </div>
            </div>
        </div>
    </div>

    <div id="modal-profile" class="norsys-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    Profile
                </h1>

                <a href="#" class="btn-close"></a>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Modifier mon mot de passe</h2>
                        </div>
                    </div>

                    <form class="row">
                        <div class="col-12 mb-2">
                            <div class="input-group">
                                <input type="password" id="password-1" placeholder="Mot de passe" class="form-control" />

                                <button class="input-group-text fas fa-eye toggle-password"></button>
                            </div>
                        </div>

                        <div class="col-12 mb-2">
                            <div class="input-group">
                                <input type="password" id="password-2" placeholder="Confirmer le mot de passe" class="form-control" />

                                <button class="input-group-text fas fa-eye toggle-password"></button>
                            </div>
                        </div>

                        <div class="col-12 mb-2">
                            <button type="submit" class="btn btn-info">Modifier</button>
                        </div>

                        <div class="col-12 modal-alerts"></div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Import jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
        </script>

        <!-- Import only if you use JQuery UI with Resizable interaction -->
        <script src="//rawcdn.githack.com/trumbowyg/dist/plugins/resizimg/resizable-resolveconflict.min.js"></script>
        <!-- Import dependency for Resizimg. For a production setup, follow install instructions here: https://github.com/RickStrahl/jquery-resizable -->
        <script src="//rawcdn.githack.com/RickStrahl/jquery-resizable/master/dist/jquery-resizable.min.js"></script>

        <!-- Import Trumbowyg -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/trumbowyg.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.23.0/plugins/upload/trumbowyg.upload.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.23.0/plugins/resizimg/trumbowyg.resizimg.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.23.0/plugins/emoji/trumbowyg.emoji.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.23.0/plugins/template/trumbowyg.template.js"></script>

        <!-- Import Bootstrap v5 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="/assets/javascripts/recap.js"></script>
</body>

</html>