<p style="text-align: center;"><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/bande_norsys_separation.png" alt="bande de séparation Norsys" style="width: 100%; max-width: 1081px; height: auto; max-height: 187px;"></p>
<p>
</p>
<p>
    <hr>
</p>

<h3 style="text-align: center;">Le Recap Hebdo de Sophia : semaine du %start% au %end% %month%
</h3>
<p><br></p>
<p style="text-align: center;"><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/norsys_agence.png" alt="norsys agence" style="width: 100%; max-width: 350px; height: auto; max-height: 118px;"></p>
<ul>
    <li>Création de l'application <a href="https://norsys-sophia-presence.nicolaschoquet.fr" title="Norsys | Fiche de présences" target="_blank">Norsys | Fiche de présences</a> 🦾 <strong>Inscrivez vous</strong> si ce n'est pas encore fait 😉</li>
</ul>
<p><br></p>
<p style="text-align: center;"><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/norsys_buisness.png" alt="norsys buisness" style="width: 100%; max-width: 331px; height: auto; max-height: 102px;"></p>
<ul>
    <li><em>À remplire</em></li>
</ul>
<p style="text-align: center;"><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/norsys_green.png" alt="norsys green" style="width: 100%; max-width: 338px; height: auto; max-height: 106px;"></p>
<ul>
    <li><em>À remplire</em></li>
    <li>N'oubliez pas de vous inscrire à la communauté Green : <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=jlsS6pnYRUyp2FWmK7-mypBoi-7liC1JuEHKWessAnhURFhCRzc1VllTWlVOMTNCRVZQNjBERlY3RC4u" title="Formulaire d'inscription à la communauté GreenMaker"
            target="_blank">https://forms.office.com/Pages/ResponsePage.aspx?id=jlsS6pnYRUyp2FWmK7-mypBoi-7liC1JuEHKWessAnhURFhCRzc1VllTWlVOMTNCRVZQNjBERlY3RC4u</a></li>
</ul>
<p><br></p>
<p>
</p>
<p>
    <hr>
</p>

<ul>
</ul>
<p style="text-align: center;"><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/norsys_birthdays.png" alt="norsys birthdays" style="width: 100%; max-width: 137px; height: auto; max-height: 137px;"></p>
<h4 style="text-align: left;"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">JANVIER</span></strong></h4>
<p>&nbsp;- HANNEQUIN Amandine - <strong>12 / 01</strong><br></p>
<h4><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">FEVRIER</span></strong></h4>
<p>&nbsp;- CERETTO Aurélie - <strong>20 / 02</strong></p>
<p><strong>&nbsp;- </strong>BARBADO Javier - <strong>22 / 02</strong></p>
<h4 style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">MARS</span></strong></h4>
<p>&nbsp;- CORSELLE Samy - <strong>07 / 03</strong></p>
<p><strong>&nbsp;- </strong>FROMY Anthony - <strong>09 / 03</strong></p>
<p>&nbsp;- CARRIERE Claire - <strong>29 / 03</strong></p>
<h4 style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">AVRIL</span></strong></h4>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- SOTTILE Gaetano - <strong>13 / 04</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">MAI</span></strong><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- DROUIN Thomas - <strong>19 / 05</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">JUIN</span></strong><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- AUBOUY François - <strong>25 / 06</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">JUILLET</span></strong><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- CHOQUET Nicolas - <strong>21 / 07</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">AOUT</span></strong><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- SEVERAC Jeremy - <strong>03 / 08</strong></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- VINSONNEAU Eitan - <strong>03 / 08</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- RAGGINI Lionel - <strong>08 / 08</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<h4 style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">SEPTEMBRE</span></strong><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></h4>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- BIANCHERI Chiara - <strong>15 / 09</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- DEMIAUTTE Damien - <strong>21 / 09</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<h4 style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">OCTOBRE</span></strong><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></h4>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- RECAP <span data-markjs="true" class="mark1anvvzc2d" style="" data-ogac="" data-ogab="" data-ogsc="" data-ogsb="">Hebdo</span> - <strong>13 / 10</strong></span>
    <span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span>
</p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- WALTER Marjorie - <strong>17 / 10</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<h4 style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">NOVEMBRE</span></strong><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></h4>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- HEC Michel - <strong>02 / 11</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)">&nbsp;- TOUATI Ilyes - <strong>10 / 11</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<p style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><span style="font-family: Arial Narrow, sans-serif; color: black;" data-ogsc="black">&nbsp;- BOURGEOIS Armand - <strong>30 / 11</strong></span><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>
<h4 style="background: white none repeat scroll 0% 0%;" data-ogsb="white"><strong><span style="font-size: 14pt; font-family: Arial Narrow, sans-serif; color: rgb(96, 128, 0);" data-ogsc="rgb(96, 128, 0)">DECEMBRE</span></strong><span style="color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></h4>
<p><span style="font-family: Arial Narrow, sans-serif; color: black;" data-ogsc="black">&nbsp;- HUBERT Jean-Marc - <strong>18 / 12</strong></span></p>
<p><span style="font-family: Arial Narrow, sans-serif; color: black;" data-ogsc="black"><strong></strong></span></p>
<p>
    <hr>
</p>
<p style="text-align: center;"><span style="font-family: Arial Narrow, sans-serif; color: black;" data-ogsc="black"><strong></strong></span><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/norsys_plus.png" alt="plus" style="width: 100%; max-width: 72px; height: auto; max-height: 72px;"></p>
<p><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/teams_logo.png" alt="logo teams"><span style="font-size: 12pt; font-family: &quot;Arial Narrow&quot;, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"> Teams Sophia :&nbsp;</span>
    <span
        style="color: black;" data-ogsc="black"><a href="https://teams.microsoft.com/_#/conversations/Sophia%20Antipolis?threadId=19:3e4428acba1d42c7bb2f03c215f88f64@thread.skype&amp;ctx=channel" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="" data-ogsc=""><span style="font-size:12.0pt; font-family:&quot;Arial Narrow&quot;,sans-serif">https://teams.microsoft.com/_#/conversations/Sophia%20Antipolis?threadId=19:3e4428acba1d42c7bb2f03c215f88f64@thread.skype&amp;ctx=channel</span></a><br></span>
</p>
<p><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/google_drive_logo.png" alt="logo google drive"><span style="font-size: 12pt; font-family: &quot;Arial Narrow&quot;, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"> Drive Sophia :&nbsp;</span>
    <span
        style="color: black;" data-ogsc="black"><a href="https://drive.google.com/drive/folders/1w5TFQkkLGiH9VBaUHsgaiRFLml11M6Mi?usp=sharing" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="" data-ogsc=""><span style="font-size:12.0pt; font-family:&quot;Arial Narrow&quot;,sans-serif">https://drive.google.com/drive/folders/1w5TFQkkLGiH9VBaUHsgaiRFLml11M6Mi?usp=sharing</span></a><br></span>
</p>
<p><img src="https://norsys-sophia-presence.nicolaschoquet.fr/assets/recaps/images/calendar_logo.png" alt="logo calendrier"><span style="font-size: 12pt; font-family: &quot;Arial Narrow&quot;, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"> Calendrier partagé :&nbsp;</span>
    <span
        style="color: black;" data-ogsc="black"><a href="https://calendar.google.com/calendar/r/month" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="" data-ogsc=""><span style="font-size:12.0pt; font-family:&quot;Arial Narrow&quot;,sans-serif">https://calendar.google.com/calendar/r/month</span></a><br></span>
</p>
<p><br><span style="color: black;" data-ogsc="black"></span></p>
<p>Bon weekend à tous 😁<br></p>
<p><span style="font-family: Arial Narrow, sans-serif; color: rgb(32, 31, 30);" data-ogsc="rgb(32, 31, 30)"></span></p>